/* You can add global styles to this file, and also import other style files */
   
body { 
  margin: 0;  
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 20px;
  color:#555;
}

 .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282a36;
  }
  
  .hljs-built_in,
  .hljs-selector-tag,
  .hljs-section,
  .hljs-link {
    color: #8be9fd;
  }
  
  .hljs-keyword {
    color: #ff79c6;
  }
  
  .hljs,
  .hljs-subst {
    color: #f8f8f2;
  }
  
  .hljs-title {
    color: #50fa7b;
  }
  
  .hljs-string,
  .hljs-meta,
  .hljs-name,
  .hljs-type,
  .hljs-attr,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-tag,
  .hljs-template-variable {
    color: #f1fa8c;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-deletion {
    color: #6272a4;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-title,
  .hljs-section,
  .hljs-doctag,
  .hljs-type,
  .hljs-name,
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #bd93f9;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  article{
    color: #282a36;
    h1,h2,h3,h4,h5,h6{
      font-weight: 300;
    }
    h1{
      font-size: 3rem;
      color: #6272a4;
    }
    h2{
      font-size: 2.5rem;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }
    h3{
      font-size: 2rem;
    }
    h4{
      font-size: 1.8rem;
    }
    h5{
      font-size: 1.5rem;
    }
    h6{
      font-size: 1rem;
      font-weight: 500;
    }
    p{
      line-height: 1.8em;
      letter-spacing: 0.05em;
      color: #555;
    }
    a{
      text-decoration: none;
      color: #6272a4;
    }
    blockquote{
      background: #f3f3f3;
      margin: 0;
      padding: .3rem 2rem;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, .2)
      }
    }
    
  }
  